body {
    background: black;
    
    padding: 50px;
}
.background {
    width: 50px;
    height: 20px;
    background: lightsalmon;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.logo {
    width: 30px;
    height: 3px;
    background: black;
    transition-duration: 0.5s;
    display: block;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    transition-duration: 0.5s;
}
.logo2 {
    margin: 2px 0;
}
.wrapper:hover .logo2 {
    opacity: 0;
}
.wrapper:hover .logo1 {
    
    transform: rotate(45deg) scale(0.6, 1.3) translate(5px, 3px);
}
.wrapper:hover .logo3 {
    
    transform: rotate(-45deg) scale(0.6, 1.3) translate(5px, -3px);
}
.wrapper:target {
    background: red;
}

.line {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    transition-duration: 0.5s;
}
.cross::before, .cross::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    transition-duration: 0.5s;
}
.cross::before {
    transform: translate(0, -2px);
}
.cross::after {
    transform: translate(0, 2px);
}
.background:hover .line {
    opacity: 0;
}
.background:hover {
    border: 2px solid orangered;
}
.background:hover .cross::before {
    transform: rotate(45deg) scale(0.5, 1.3) translate(4px, 2px);
}
.background:hover .cross::after {
    transform: rotate(-45deg) scale(0.5, 1.3) translate(4px, -2px);
}